.root{
  -fx-background: rgb(204, 213, 207);
}

.titled-pane{
  -fx-padding: 1;                  /* optional nicer padding */
}
.titled-pane > .title {
  -fx-background-color: #77a178;   /* your title background */
  -fx-text-fill: black;            /* text color */
  -fx-font-weight: bold;           /* bold text */
}

#numberOfVillagers, #greenPointNumber, #numberOfSharedTasks, #numberOfTrades, #dateOfReset, #nextGreenGoal, #resetDay {
  -fx-background-color: transparent;

  -fx-background-insets: 0;
  -fx-background-radius: 0;

  -fx-border-color: transparent;
  -fx-border-width: 0;

  -fx-font-weight: bold;
}

#descriptionVillage{
  -fx-background-color: transparent;
  -fx-control-inner-background: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;

  -fx-text-fill: black;
  -fx-font-weight: bold;

  -fx-border-color: transparent;
  -fx-border-width: 0;
}

#resetNowButton{
  -fx-background-color: #f69c9c;
  -fx-text-fill: black;
  -fx-font-weight: bold;
}
