body{
  padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  color: black;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(31, 213, 52);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(3, 254, 3);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#footer{
  position: absolute;
  bottom: 0vh;
  left: 20vw
}

