html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #414843;
  color: beige;
}

body{
  padding: 10px;
  text-align: center;
}


.topnav {
  display: inline-flex;       /* only as wide as content */
  justify-content: center;    /* center items inside */
  background-color: #44704a;
  color: rgb(6, 6, 6);
  border-radius: 10px;
  padding: 0;                 /* remove extra padding */
}

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(227, 191, 14);
}


#footer{
  position: absolute;
  bottom: 0vh;
  left: 20vw
}

h1 {
  color: beige;
  text-align: center;
}

#output{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#leaves{
  position: absolute;
  left: 4vw;
  top: 5vh;
  transform: rotate(120deg);
}
#leaves2{
  position: absolute;
  right: 4vw;
  top: 17vh;
  transform: rotate(-30deg);
}
#leaves3{
  position: absolute;
  left: 0vw;
  bottom: 2vh;
  transform: rotate(30deg);
}
#leaves4{
  position: absolute;
  right: 1vw;
  top: 60vh;
  transform: rotate(0deg);
}




















.goals {
    margin-left: auto;
    margin-right: 0;
    max-width: 60%;
    text-align: right;
}

.goals h2,
.goals p {
    text-align: right;
}

.goals img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 20vw;
    height: auto;
    
}